<html>
  <head>
    <title>Flask Intro - Calculate</title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Calculate</h1>
      <br>
      	<p>Click <a href="/add">add</a></p>
	<p>Click <a href="/subtract">subtract</a></p>
	<p>Click <a href="/multiply">multiply</a></p>
	<p>Click <a href="/divide">divide</a></p>
	{% for message in get_flashed_messages() %}
		{{message}}
	{% endfor %}
      </form>
    </div>
  </body>
</html>
